AI/CLUBDEOFERTAS/sportcenter/SPORTCENTER_FollowUpEcommerce.json
{
  "name": "SPORTCENTER_FollowUpEcommerce",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "=chats_sportcenter",
        "filters": {
          "conditions": [
            {
              "keyName": "updated_at",
              "condition": "lte",
              "keyValue": "={{ $now.toUTC().minus(5,'minutes')}}"
            },
            {
              "keyName": "app",
              "condition": "eq",
              "keyValue": "delivery"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        512
      ],
      "id": "680aa7fa-d74c-4d74-afb3-6b1bfac6fcc9",
      "name": "ListChats-Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "KG8g1bIogD51xhXX",
          "name": "Supabase YOENVIO.DE"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a responda apenas a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n - 'Oi .. ainda está ai'\n - 'E ai ? vamos finalizar o pedido?' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2144,
        64
      ],
      "id": "a3ce668a-a5a2-474b-a973-252833a2062a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "inputText": "=Data/Hora:\n{{ $now.toDateTime().format('yyyy-MM-dd HH:mm:ss') }}\n\nÚltimo diálogo entre o cliente e o chatbot:\n\n- Menasgem do cliente: {{ $json.user_message || \"\"}}\n\n- Resposta do chatbot : {{ $json.bot_message }}\n\n",
        "categories": {
          "categories": [
            {
              "category": "pendente_resposta",
              "description": "O bot fez uma pergunta ou conversa está pendente devido a uma informação que o cliente ficou de fornecer ou confirmar"
            },
            {
              "category": "encerrada",
              "description": "Houve um desfecho da conversa e o agente de IA se despediu"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        1728,
        80
      ],
      "id": "06791883-9500-40c8-9884-e4ffcae599b0",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "tableId": "=chat_messages_sportcenter",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Text Classifier').item.json.phone }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Text Classifier').item.json.phone }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "=followup"
            },
            {
              "fieldId": "bot_message",
              "fieldValue": "={{ $('SetConfig').item.json.output }}"
            },
            {
              "fieldId": "active",
              "fieldValue": "false"
            },
            {
              "fieldId": "user_message",
              "fieldValue": ".."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2320,
        1184
      ],
      "id": "d62f567a-9715-4d85-b990-95313d89cd98",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "KG8g1bIogD51xhXX",
          "name": "Supabase YOENVIO.DE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        80
      ],
      "id": "c0d87166-a719-4183-a496-955348ea50a8",
      "name": "Loop Over Items1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1984,
        400
      ],
      "id": "8816151b-c5f1-458c-963f-fecaeaf7223d",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "czfsa36YSvhqfxx1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1440,
        400
      ],
      "id": "dc504ce0-8de8-4a31-8d14-44f5b8461be8",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "czfsa36YSvhqfxx1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        1184
      ],
      "id": "5999c824-af0b-4105-8833-15d5cab6c15e",
      "name": "Wait1",
      "webhookId": "9faab08d-ed07-4f6c-a3a5-309443da4e75"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        112
      ],
      "id": "b9519f45-c221-40bd-84a5-8e086e63d322",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "=chat_messages_sportcenter",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('SetData1')?.item?.json?.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "active",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        1168
      ],
      "id": "ff5182c5-bd5f-4254-92ad-3a260951d372",
      "name": "DisableMessage-Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "KG8g1bIogD51xhXX",
          "name": "Supabase YOENVIO.DE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evolution_api_url }}/message/sendText/{{ $json.evolution_api_instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcbe20af-d53e-4386-8521-88c8c5507bc0",
      "name": "Evolution API - HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9c00627-84a9-49a9-bc7e-d923a5918346",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "1e57eb87-d78f-424b-ab84-7738ce384405",
              "name": "evolution_api_url",
              "value": "https://evo.yoenvio.de",
              "type": "string"
            },
            {
              "id": "44fd293f-0a32-4499-90fc-bffca5bb524b",
              "name": "evolution_api_key",
              "value": "31B638BD9354-49DD-AB34-AB73843F2664",
              "type": "string"
            },
            {
              "id": "8fd329d8-2237-4ad3-a496-ee49b5042fc5",
              "name": "evolution_api_instance",
              "value": "sportcenter",
              "type": "string"
            },
            {
              "id": "0e34f673-b6dc-4748-89d2-a178dfe91853",
              "name": "phone",
              "value": "={{ $('SetData1').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        368
      ],
      "id": "093a8d8a-ed18-43bf-9d66-776bdb851591",
      "name": "SetConfig"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1008,
        80
      ],
      "id": "c3d54259-1af4-482f-b1be-e4fb1362cd6d",
      "name": "Sort"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1248,
        80
      ],
      "id": "ce6958b4-51c1-4b46-91c9-bed88dd228e6",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "=chat_messages_sportcenter",
        "limit": 10,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.phone }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "message_type",
              "condition": "neq",
              "keyValue": "followup"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        112
      ],
      "id": "7514c334-5d90-4b08-a1d4-b06dccf757cc",
      "name": "ListMessages-Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "KG8g1bIogD51xhXX",
          "name": "Supabase YOENVIO.DE"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd59cd96-3e3e-466f-9e2a-a6ed035fc96b",
              "leftValue": "={{ $('ListMessages-Supabase').item.json.values() }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        384
      ],
      "id": "53d4822c-7fca-4f44-98f8-b5db3d270fc9",
      "name": "If4"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        768
      ],
      "id": "cb54c776-bfd8-4ddb-874b-e051a0ddbb07",
      "name": "Wait2",
      "webhookId": "8228fe8f-045e-4020-8a06-ac5df733590d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a874784-906e-4dc0-b6b7-a9381254a240",
              "name": "id",
              "value": "={{ $('Limit')?.item?.json?.id }}",
              "type": "string"
            },
            {
              "id": "4d40dba4-549d-4496-8fcb-fa8a5608d71e",
              "name": "bot_message",
              "value": "={{ $json.bot_message }}",
              "type": "string"
            },
            {
              "id": "07d676dc-189d-4749-8e96-4602b687f21b",
              "name": "user_message",
              "value": "={{ $json.user_message }}",
              "type": "string"
            },
            {
              "id": "d03da6a5-32bf-4ace-9f9e-934d6eb20edd",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "46bb45be-5250-408c-8852-5db12d4dd5ee",
              "name": "message_type",
              "value": "={{ $json.message_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        80
      ],
      "id": "6a6e9d7d-7e0b-4ebc-975b-c84baead4589",
      "name": "SetData1"
    },
    {
      "parameters": {
        "content": "## Followup-restauranet\n",
        "height": 1400,
        "width": 2680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        48
      ],
      "id": "eb4a8d1d-797a-404f-8469-f796c4144a2c",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-01-09T23:00:59.004-03:00",
          "Readable date": "January 9th 2025, 11:00:59 pm",
          "Readable time": "11:00:59 pm",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "January",
          "Day of month": "09",
          "Hour": "23",
          "Minute": "00",
          "Second": "59",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ],
    "Evolution API - HTTP Request1": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "ListChats-Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "SetConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "ListMessages-Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "DisableMessage-Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ListChats-Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DisableMessage-Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API - HTTP Request1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetConfig": {
      "main": [
        [
          {
            "node": "Evolution API - HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "SetData1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListMessages-Supabase": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetData1": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "edd6f450-b3f8-4dc0-95bf-a3c18f5a3274",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "238372076f924a1386be38ddd97552ade0a2d61ff3bd5b6fb673c3926bf28399"
  },
  "id": "PLQr2KmEN9JdUuCf",
  "tags": [
    {
      "updatedAt": "2025-10-09T14:04:54.663Z",
      "createdAt": "2025-10-09T14:04:54.663Z",
      "id": "mQimZDErbk2F6Rjo",
      "name": "ecommerce-mcp"
    }
  ]
}